VITE_FIREBASE_API_KEY=AIzaSyDRHb8N3JGfi66oUfPV_Igl5xGZOQtYIpI
VITE_FIREBASE_AUTH_DOMAIN=englishka-228.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=englishka-228
VITE_FIREBASE_STORAGE_BUCKET=englishka-228.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=293896564068
VITE_FIREBASE_APP_ID=1:293896564068:web:5228aaa75aa732d064de71
VITE_FIREBASE_MEASUREMENT_ID=G-1MLCDPCPVP
